/*Header text*/
#explanation {
    width: 100%;
}

#labels, #names {
    float: left;
}

#names {
    margin-right: 10px;
}

/*All the registers*/
#PC, #MAR, #MBR, #IR, #ALU, #INC, #R{
    /*width: 180px;*/
    height: 60px;
}

.register {
    background-color: cornsilk;
    float: left;
    border: solid black 2px;
    margin-bottom: 40px;
}

#RAM {
    /*width: 200px;*/
    height: 450px;
}

#CU {
    /*width: 200px;*/
    height: 170px;
}

#Program {
    background-color: white;
    height: 450px;
}

.register #registerName {
    text-align: center;
    font-size: small;
    margin: 0px;
}

.btn {
    margin-right: 10px;
}

.innerText {
    text-align: center;
 }

.highlight {
    background: rgba(255,0,0,0.4);
}

#speedBar {
    margin-right: 10px;
}

.input {
    width: 100%;
}
ol {
    padding-left: 10px;
}
